html,
body {
  height: 100%;
  width: 100%;
  font-size: 4vmin;
  font-family: Montserrat, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000033;
}

h1 {
  position: absolute;
  background: inherit;
  z-index: 9;
}

a {
  color: white;
}

.wrapper {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
}

.quadrant {
  display: flex;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.8;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: darkgreen;
}

.red {
  background-color: darkred;
  background-image: url("GitHub-logo.png");
  
}

.purple {
  background-color: indigo;
  background-image: url("unisim-map.png");
}

.gold {
  background-color: darkgoldenrod;
}
